body {
    padding: 15%;
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgba(0, 0, 0, 0.85);
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: dodgerblue;
}

a:active {
    color: red;
}